*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.block{
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    color: rgb(212, 212, 212);
    gap: 5px
    
}
body{
    background-color: black;

}
.img{
    max-width: 300px;
    height: 140px;
}
.grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;  
    gap:20px ;
    padding: 10px;
    
}
.nav{
    display: flex;
    height: 100px;
    background-color: rgb(26, 26, 26);
    margin-bottom: 10px;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;
    gap:10px
}
.btn{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(115, 115, 115);
    border: 0px;
    transition: 1s;
}
.btn:hover{
    transform: scale(102%)rotate(2deg);
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }